/* FONTS */
@font-face {
  font-family: 'light';
  src: url('../fonts/PPPlayground-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'norm';
  src: url('src/assets/fonts/PPNeueMontreal-Book.otf') format('opentype');
}
@font-face {
  font-family: 'strong';
  src: url('../fonts/PPEditorialNew-Regular.otf') format('opentype');
}

.light {
  font-family: 'light' !important;
}
.strong {
  font-family: 'strong' !important;
}
.norm {
  font-family: 'norm' !important;
}
.spaced{
  letter-spacing: 14px;
}

/* FONTS END */

:root{
  margin: 0;padding: 0;
}

.border{
  border: 1px black solid;
}

.hero{
  border-bottom: 1px black solid;
}

.background{
  z-index: -1;
}

.nav{
  z-index: 2;
  backdrop-filter: blur(40px);
}

.circle{
  width: 1200px; height: 1200px;
  background: rgb(255,64,64);
  background: radial-gradient(circle, rgba(255,64,64,1) 0%, rgba(255,239,74,0) 100%); 
  position: absolute;
  z-index: -1;
  filter: blur(10px);
  border-radius: 100%;
  top: 20px; left:0;
  animation: grow 4s ease-in-out infinite;
}

@keyframes grow {
  0% {
    height: 1000px;width: 100%;
  }
  50% {
    height: 600px; width: 100%;
  }
  100%{
    height: 1000px;width: 100%;
  }
}

.linkDecoration{
  text-decoration:underline solid 1px ;
  margin-left:2px;
  color:rgb(78, 9, 9) !important;
  background-color: rgb(255, 174, 174) !important; 
  border-radius: 500px;  padding-left: 4px;padding-right:4px;
}